@using HelperExtensionNameSpace
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<QLBH.Fastfood.Models.SanPham> productsNew = ViewBag.ListProductNew;
    IEnumerable<QLBH.Fastfood.Models.SanPham> products = ViewBag.ListProduct;
    IEnumerable<QLBH.Fastfood.Models.SanPham> productsDiscount = ViewBag.ListProductDiscount;
}
<script>
    $(document).ready(function () {
        $('.AddItemCart').click(function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                method: "POST",
                url: "/Cart/CheckQuantityAdd",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.ajax({
                            method: "POST",
                            url: "/Cart/AddItemCart",
                            data: {
                                id: id
                            },
                            dataType: 'html',
                            success: function (response) {
                                $.notify("Đã thêm sản phẩm vào giỏ hàng!", "success");
                                $("#DivCart").html(response);
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Thông báo",
                            text: "Số lượng sản phẩm đã hết!",
                            icon: "warning",
                            timer: 1500
                        });
                    }
                }
            });
        });
    });
</script>
<!--banner-->

            <img class="img-fluid" src="../Content/home/img/gallery/img_nav.jpeg" alt="hero-header" width="100%" />
  
            <div class="new">
                <div class="container">
                    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                        <h3 class="title" style="font-family:'UTM Nyala'">Món <span>Mới</span></h3>
                    </div>
                    <div class="new-info">
                        @{
                            int counter1 = 1;
                            int counter2 = 1;
                        }
                        @foreach (var item in productsNew)
                        {
                            if (counter1 == 1)
                            {
                                <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
                                    @Html.Action("ProductPartial", "Product", new { product = item })
                                </div>
                                counter1++;
                            }
                            else if (counter1 == 2)
                            {

                                <div class="col-md-3 new-grid new-mdl simpleCart_shelfItem wow flipInY animated" data-wow-delay=".7s">
                                    @Html.Action("ProductPartial", "Product", new { product = item })
                                </div>
                                counter1++;
                            }
                            else if (counter1 == 3)
                            {
                                <div class="col-md-3 new-grid new-mdl1 simpleCart_shelfItem wow flipInY animated" data-wow-delay=".9s">
                                    @Html.Action("ProductPartial", "Product", new { product = item })
                                </div>
                                counter1++;
                            }
                            else if (counter1 == 4)
                            {
                                <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay="1.1s">
                                    @Html.Action("ProductPartial", "Product", new { product = item })
                                </div>
                                counter1++;
                            }
                        }
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!--//new-->
            <!--gallery-->
            <div class="gallery">
                <div class="container">
                    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                        <h3 class="title">Món <span>Bán Chạy</span></h3>
                    </div>
                    <div class="gallery-info">
                        @foreach (var item in products)
                        {
                            if (counter2 == 1)
                            {
                                <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 2)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 3)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 4)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 5)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 6)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 7)
                            {
                                <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                counter2++;
                            }
                            else if (counter2 == 8)
                            {<div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                                    <a href="/san-pham/@item.MaSP"><img src="@Url.Content("~/Content/home/img/gallery/" + item.AnhSP)" class="img-responsive" alt="" /></a>
                                    <div class="gallery-text simpleCart_shelfItem">
                                        <h5><a class="name" href="/san-pham/@item.MaSP">@item.TenSP </a></h5>
                                        <p><span class="item_price">@item.GiaSP.ToString("#,##")₫</span></p>
                                        <h4 class="sizes">Đã bán: @item.SoLanMua</h4>
                                        <ul>
                                            <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                                            <li><span class="glyphicon glyphicon glyphicon-shopping-cart AddItemCart" aria-hidden="true" data-id="@item.MaSP" style="cursor:pointer"></span></li>
                                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                break;
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--//gallery-->
            <!--trend-->
            <!--//trend-->
